@use "../abstract/variable" as v;
@use "../abstract/mixin.scss" as m;


nav {
    background-color: v.$primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 11.1em;
}

.logo {
    height: 7.4em;
    width: 7.4em;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li a {
    display: inline-block; 
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    color: v.$primary;

    @include m.textShadow();

    transition: transform 0.2s ease;
    transform-origin: center;
}

nav ul li a:hover {
    transform: translateY(-6px);
}

.menu-line {
    display: none;
    width: 40px;
    border: 2px solid v.$secondary;
    border-radius: 10px;
}

.menu {
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 1050px) {
    .menu-line {
        display: flex;
        margin: 10px;
    }

    .menu {
        display: block;
    }
  
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
        padding: 15px 0;
        z-index: 2;
        background-color: v.$primary;
    }
  
    nav .nav-menu {
        display: flex;
    }

    nav ul li {
        border-top: 1px solid v.$secondary;
    }
}
