.bg-contact {
    background-image: url("../../img/Maneki-neko-3.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3em;
}