@use "../abstract/variable" as v;
@use "../layout/header";
@use "../layout/footer";
@use "../components/card" as c;
@use "../components/buttons";


//HERO

.hero {
    display: flex;
    align-items: center;
    padding: 3em 0;
    gap: 6em;
}

.hero-img {
    height: 16.4em;
}

.hero-img img {
    height: 100%;
}

.hero-paragraph {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}

//LAST-PRODUCT

.last-product {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.bg-product {
    background-image: url("../../img/bgHero.jpg");
    background-size: 100% 100%; /* largeur à 100% */
    background-repeat: no-repeat;
    background-position: top center;
    padding: 3em 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    place-items: center;
}

@media screen and (max-width: 1050px) {

    .hero {
        flex-direction: column;
        // padding: 3em 0;
        gap: 0;
    }

    .hero-paragraph {
        align-items: center;
        text-align: center;
    }

    .cards {
    grid-template-columns: repeat(1, 1fr);
    }

}