.bg-modifier {
    padding: 3em 0;
    background-image: url("../../img/bg-modifier.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-modifier h1 {
    text-align: center;
}
